<div id="all">
	<header>

		<!-- *** TOP ***
		_________________________________________________________ -->
		<div id="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-5 contact">
						<p class="hidden-sm hidden-xs">Contact us on +420 777 555 333 or hello@universal.com.</p>
						<p class="hidden-md hidden-lg">
							<a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
						</p>
					</div>
					<div class="col-xs-7">
						<div class="social">
							<a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
							<a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
							<a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
						</div>

						<div class="login">
							<a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
							<a href="customer-register.html"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Sign up</span></a>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- *** TOP END *** -->
		<!-- *** NAVBAR ***
		_________________________________________________________ -->

        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                <div class="container">
                    <div class="navbar-header">

                        <a class="navbar-brand home" href="/index.html#!/home">
                            <img src="../../../Content/images/logo-ingenious-small.jpg" alt="Universal logo" class="hidden-xs hidden-sm">
                            <img src="../../../Content/images/logo-ingenious-small.jpg" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Universal - go to homepage</span>


                        </a>
                        <div class="navbar-buttons">
                            <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-align-justify"></i>
                            </button>
                        </div>
                    </div>
                    <!--/.navbar-header -->

                    <div class="navbar-collapse collapse" id="navigation">

                        <ul class="nav navbar-nav navbar-right">
                            <li class="buttons">
                                <a href="/index.html#!/home" class="buttons">Home</a>

                            </li>
                            <li class="dropdown use-yamm yamm-fw">
                                <a href="#top_about" class="buttons">About</a>

                            </li>
                            <li class="dropdown use-yamm yamm-fw">
                                <a href="#mostVisitedTop" class="buttons">Most Visited</a>

                            </li>
                            <!-- ========== FULL WIDTH MEGAMENU ================== -->
                          
                            <!-- ========== FULL WIDTH MEGAMENU END ================== -->

                            <li class="buttons">
                                <a href="#contact" class="buttons">Contact</a>

                            </li>

                            <li class="navbar-buttons">
                                <a ng-show="$ctrl.currentUser" href="#!/userprofile" class="buttons">My profile</a>
                            </li>
                        </ul>

                    </div>
                    <!--/.nav-collapse -->



                    <div class="collapse clearfix" id="search">

                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">

                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                                </span>
                            </div>
                        </form>

                    </div>
                    <!--/.nav-collapse -->

                </div>


            </div>
            <!-- /#navbar -->

        </div>


		<!-- *** NAVBAR END *** -->

	</header>

	<!-- *** LOGIN MODAL ***
	_________________________________________________________ -->

	<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
		<div class="modal-dialog modal-sm">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="Login">Customer login</h4>
				</div>
				<div class="modal-body">
					<form action="customer-orders.html" method="post">
						<div class="form-group">
							<input type="text" class="form-control" id="email_modal" placeholder="email">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="password_modal" placeholder="password">
						</div>

						<p class="text-center">
							<button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
						</p>

					</form>

					<p class="text-center text-muted">Not registered yet?</p>
					<p class="text-center text-muted"><a href="customer-register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

				</div>
			</div>
		</div>
	</div>

	<!-- *** LOGIN MODAL END *** -->

	<div id="heading-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1>New account / Sign in</h1>
				</div>
				<div class="col-md-5">
					<ul class="breadcrumb">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>New account / Sign in</li>
					</ul>

				</div>
			</div>
		</div>
	</div>

	<div id="content">
		<div class="container">

			<div class="row">
				<div class="col-md-6">
					<div class="box">
						<h2 class="text-uppercase">New account</h2>

						<p class="lead">Not our registered customer yet?</p>
						<p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
						<p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

						<hr>

						<!--<form action="customer-orders.html" method="post">-->
							<!--<div class="form-group">
								<label for="name-login">Name</label>
								<input type="text" class="form-control" id="name-login" ng-model="$ctrl.Model.Name">
							</div>-->
							<div class="form-group" >
								<label for="email-login">Email</label>
								<input type="text" class="form-control" id="email-login" ng-model="$ctrl.Model.Email">
							</div>
							<div class="form-group">
								<label for="password-login">Password</label>
								<input type="password" class="form-control" id="password-login" ng-model="$ctrl.Model.Password">
							</div>
							<div class="form-group">
								<label for="confirmpassword-login">Confirm Password</label>
								<input type="password" class="form-control" id="confirmpassword-login" ng-model="$ctrl.Model.ConfirmPassword">
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-template-main" ng-click="$ctrl.RegisterClick()"><i class="fa fa-user-md" ></i> Register</button>
								<br />
								<span ng-show="$ctrl.Model.ErrorMessage" >{{$ctrl.Model.ErrorMessage}}</span>
							</div>
							<!--</form>-->
						</div>
				</div>

				<div class="col-md-6">
					<div class="box">
						<h2 class="text-uppercase">Login</h2>

						<p class="lead">Already our customer?</p>
						<p class="text-muted">
							Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
							ultricies mi vitae est. Mauris placerat eleifend leo.
						</p>

						<hr>

						<!--<form action="customer-orders.html" method="post">-->
							<div class="form-group" >
								<label for="email">Email</label>
								<input type="text" class="form-control" id="email" ng-model="$ctrl.Model1.Email">
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" ng-model="$ctrl.Model1.Password">
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-template-main" ng-click="$ctrl.LoginClick()"><i class="fa fa-sign-in"></i> Log in</button>
								<br />
								<span ng-show="$ctrl.Model1.ErrorMessage">{{$ctrl.Model1.ErrorMessage}}</span>
							</div>
						<!--</form>-->
					</div>
				</div>

			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->
	</div>
	<!-- /#content -->
	<!-- *** GET IT ***
	_________________________________________________________ -->

	<div id="get-it">
		<!--<div class="container">
			<div class="col-md-8 col-sm-12">
				<h3>Do you want cool website like this one?</h3>
			</div>
			<div class="col-md-4 col-sm-12">
				<a href="#" class="btn btn-template-transparent-primary">Buy this template now</a>
			</div>
		</div>-->
	</div>


	<!-- *** GET IT END *** -->
	<!-- *** FOOTER ***
	_________________________________________________________ -->

    <footer id="footer">
        <div class="container">
            <div class="col-md-3 col-sm-6">
                <h4>Ingenious City Break</h4>
                <br /><br /><br />

                <hr>

                <h4>Join our monthly newsletter</h4>

                <form>
                    <div class="input-group">

                        <input type="text" class="form-control">

                        <span class="input-group-btn">

                            <button class="btn btn-default" type="button"><i class="fa fa-send"></i></button>

                        </span>

                    </div>
                    <!-- /input-group -->
                </form>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Blog</h4>

                <div class="blog-entries">
                    <div class="item same-height-row clearfix">
                        <div class="image same-height-always">
                            <a href="#">
                                <img class="img-responsive" src="../../../Content/Theme/img/detailsquare.jpg" alt="">
                            </a>
                        </div>
                        <div class="name same-height-always">
                            <h5><a href="#">Blog post name</a></h5>
                        </div>
                    </div>

                    <div class="item same-height-row clearfix">
                        <div class="image same-height-always">
                            <a href="#">
                                <img class="img-responsive" src="../../../Content/Theme/img/detailsquare.jpg" alt="">
                            </a>
                        </div>
                        <div class="name same-height-always">
                            <h5><a href="#">Blog post name</a></h5>
                        </div>
                    </div>

                    <div class="item same-height-row clearfix">
                        <div class="image same-height-always">
                            <a href="#">
                                <img class="img-responsive" src="../../../Content/Theme/img/detailsquare.jpg" alt="">
                            </a>
                        </div>
                        <div class="name same-height-always">
                            <h5><a href="#">Very very long blog post name</a></h5>
                        </div>
                    </div>
                </div>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4 id="contact1">Contact</h4>

                <p>
                    <strong>Cluj</strong>

                    <br>Dorobantilor
                    <br>33
                    <br>Romania
                    <br>
                    <strong>Europe</strong>
                    <br />
                    <br />
                </p>

                <a href="../../../Content/Theme/contact.html" class="btn btn-small btn-template-main">Go to contact page</a>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">

                <h4>Photostream</h4>

                <div class="photostream">
                    <div>
                        <a href="#">
                            <img src="../../../Content/Theme/img/detailsquare.jpg" class="img-responsive" alt="#">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../Content/Theme/img/detailsquare2.jpg" class="img-responsive" alt="#">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../Content/Theme/img/detailsquare3.jpg" class="img-responsive" alt="#">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../Content/Theme/img/detailsquare3.jpg" class="img-responsive" alt="#">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../Content/Theme/img/detailsquare2.jpg" class="img-responsive" alt="#">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../Content/Theme/img/detailsquare.jpg" class="img-responsive" alt="#">
                        </a>
                    </div>
                </div>

            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.container -->
    </footer>
	<!-- /#footer -->
	<!-- *** FOOTER END *** -->
	<!-- *** COPYRIGHT ***
	_________________________________________________________ -->

    <div id="copyright">
        <div class="container">
            <div class="col-md-12">
                <p class="pull-left">&copy; 2017.Ingenious City Break</p>
                <p class="pull-right">
                    Template by <a href="https://bootstrapious.com">Bootstrapious</a> & <a href="https://remoteplease.com">Remote Please</a>
                    <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                </p>

            </div>
        </div>
    </div>
	<!-- /#copyright -->
	<!-- *** COPYRIGHT END *** -->



</div>